html, body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}


#logo{
	height:100px;
	background: center no-repeat url(../images/stella-vector-small.png);
}

#szukajka{
	height:100px;
}

#NAGLOWEK {
	background-color: #888;
}

#MENU {
	width: 150px;
	float: left;
	overflow: hidden;
	position: relative;
	background-color: #ccc;
}

#TRESC {
	margin-left: 150px;
	background-color: #fff;
}

#STOPKA {
	clear: both;
	background-color: #888;
}
